# SDV SYNTHETIC DATA GENERATION

## SETUP

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

## LOAD REAL DATA

In [2]:
from ucimlrepo import fetch_ucirepo 

'''# metadata 
print(diabetes_130_us_hospitals_for_years_1999_2008.metadata) 
  
# variable information 
print(diabetes_130_us_hospitals_for_years_1999_2008.variables) '''
  
# fetch dataset 
diabetes_130_us_hospitals_for_years_1999_2008 = fetch_ucirepo(id=296) 
  
# data (as pandas dataframes) 
X = diabetes_130_us_hospitals_for_years_1999_2008.data.features 
y = diabetes_130_us_hospitals_for_years_1999_2008.data.targets 

# create complete real_data
diabetes = pd.DataFrame(X)
diabetes["readmitted"] = y

# visualize data
diabetes.head()

c:\Users\hrumayor\.conda\envs\synth_data\lib\site-packages\ipykernel_launcher.py:10: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  # Remove the CWD from sys.path while we load stuff.

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),NaN,6,25,1,1,NaN,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,NaN,NaN,1,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),NaN,1,1,7,3,NaN,NaN,59,0,18,0,0,0,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,NaN,NaN,11,5,13,2,0,1,648,250,V27,6,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),NaN,1,1,7,2,NaN,NaN,44,1,16,0,0,0,8,250.43,403,7,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),NaN,1,1,7,1,NaN,NaN,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

## EXPLORE REAL DATA

In [ ]:
# dimensions
print(f"Dimension: {diabetes.shape}")

# data information
print(f"\nData information: {diabetes.info()}\n")

# understanding columns values
for col in diabetes.columns:
    print(f"\nColumn: {col} has values: {diabetes[col].unique()}")

# identify identity sensible data: 
sensitive_column_names = ['race', 'gender', 'age', 'admission_type_id','discharge_disposition_id','admission_source_id','payer_code', 'medical_specialty']

In [23]:
# understanding columns values
for col in diabetes.columns:
    print(f"\nColumn: {col} has values: {diabetes[col].unique()}")

Column: race has values: ['Caucasian' 'AfricanAmerican' nan 'Other' 'Asian' 'Hispanic']

Column: gender has values: ['Female' 'Male' 'Unknown/Invalid']

Column: age has values: ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']

Column: weight has values: [nan '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']

Column: admission_type_id has values: [6 1 2 3 4 5 8 7]

Column: discharge_disposition_id has values: [25  1  3  6  2  5 11  7 10  4 14 18  8 13 12 16 17 22 23  9 20 15 24 28
 19 27]

Column: admission_source_id has values: [ 1  7  2  4  5  6 20  3 17  8  9 14 10 22 11 25 13]

Column: time_in_hospital has values: [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]

Column: payer_code has values: [nan 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC' 'OT'
 'OG' 'MP' 'FR']

Column: medical_specialty has values: ['Pediatrics-Endocrinology' nan 'InternalMedicine'
 'Family/GeneralPractice' 'Cardiology' 'Surgery-General' 'Orthopedics'
 'Gastroenterology' 'Surgery-Cardiovascular/Thoracic' 'Nephrology'
 'Orthopedics-Reconstructive' 'Psychiatry' 'Emergency/Trauma'
 'Pulmonology' 'Surgery-Neuro' 'Obsterics&Gynecology-GynecologicOnco'
 'ObstetricsandGynecology' 'Pediatrics' 'Hematology/Oncology'
 'Otolaryngology' 'Surgery-Colon&Rectal' 'Pediatrics-CriticalCare'
 'Endocrinology' 'Urology' 'Psychiatry-Child/Adolescent'
 'Pediatrics-Pulmonology' 'Neurology' 'Anesthesiology-Pediatric'
 'Radiology' 'Pediatrics-Hematology-Oncology' 'Psychology' 'Podiatry'
 'Gynecology' 'Oncology' 'Pediatrics-Neurology' 'Surgery-Plastic'
 'Surgery-Thoracic' 'Surgery-PlasticwithinHeadandNeck' 'Ophthalmology'
 'Surgery-Pediatric' 'Pediatrics-EmergencyMedicine'
 'PhysicalMedicineandRehabilitation' 'InfectiousDiseases' 'Anesthesiology'
 'Rheumatology' 'AllergyandImmunology' 'Surgery-Maxillofacial'
 'Pediatrics-InfectiousDiseases' 'Pediatrics-AllergyandImmunology'
 'Dentistry' 'Surgeon' 'Surgery-Vascular' 'Osteopath'
 'Psychiatry-Addictive' 'Surgery-Cardiovascular' 'PhysicianNotFound'
 'Hematology' 'Proctology' 'Obstetrics' 'SurgicalSpecialty' 'Radiologist'
 'Pathology' 'Dermatology' 'SportsMedicine' 'Speech' 'Hospitalist'
 'OutreachServices' 'Cardiology-Pediatric' 'Perinatology'
 'Neurophysiology' 'Endocrinology-Metabolism' 'DCPTEAM' 'Resident']

Column: num_lab_procedures has values: [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  46  28  48  72  10   2
  65  67  40  54  58  57  43  32  83  34  39  69  38  56  22  96  78  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]

Column: num_procedures has values: [0 5 1 6 2 3 4]

Column: num_medications has values: [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]

Column: number_outpatient has values: [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]

Column: number_emergency has values: [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]

Column: number_inpatient has values: [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]

Column: diag_1 has values: ['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' '737' '572' 'V57' '189' '786' '427' '996'
 '277' '584' '462' '473' '411' '174' '486' '998' '511' '432' '626' '295'
 '196' '250.6' '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11'
 '784' '707' '440' '151' '715' '997' '198' '564' '812' '38' '590' '556'
 '578' '250.32' '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558'
 '574' '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332'
 '562' '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625'
 '571' '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515'
 '780' '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514'
 'V55' '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822'
 '191' '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' nan '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875' '381' '804' '704'
 '23' '58' '649' '832' '133' '975' '833' '391' '690' '10' 'V51']

Column: diag_2 has values: [nan '250.01' '250' '250.43' '157' '411' '492' '427' '198' '403' '288'
 '998' '507' '174' '425' '456' '401' '715' '496' '428' '585' '250.02'
 '410' '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491'
 '553' '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '511' '196'
 '396' '197' '414' '250.52' '577' '535' '413' '285' '53' '780' '518' '150'
 '566' '250.6' '867' '486' 'V15' '8' '788' '340' '574' '581' '228' '530'
 '250.82' '786' '294' '567' '785' '512' '305' '729' '250.51' '280' '648'
 '560' '618' '444' '38' 'V10' '578' '277' '781' '250.42' '278' '426' '584'
 '462' '402' '153' '272' '733' '34' '881' '203' '250.41' '250.13' '293'
 '245' '250.12' '558' '787' '342' '573' '626' '303' '250.53' '458' '710'
 '415' 'V42' '284' '569' '759' '682' '112' '292' '435' '290' '250.93'
 '642' '536' '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '784'
 '300' '562' '162' '287' '447' '789' '790' '591' '200' '154' '304' '117'
 '847' '852' '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372'
 '482' '382' 'V65' '572' '283' '78' '250.81' '576' '432' '595' '295' 'V12'
 '204' '466' '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258'
 '253' '309' '250.91' '519' '333' '459' '250.92' '250.4' '179' '420' '345'
 '433' '661' '537' '205' '722' '405' '437' '714' '211' 'E812' '263' '202'
 '397' '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724'
 '189' '297' '453' 'E888' '730' '354' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '716' '289' '191' '873' '850' '611' '377' '352' '616' 'V17'
 '136' '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151'
 'V58' '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217'
 '825' '298' '821' 'E880' '343' '429' 'E879' '579' '225' '250.9' 'V49'
 '696' '233' '658' '969' '275' '250.1' '601' '704' '808' 'E890' 'V18'
 '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66' '911'
 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864' '718'
 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824' 'V61' '646'
 '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905' 'E930' '921'
 '131' '448' '389' '421' '214' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '909' '5' '814' '746' '250.31' '556' '680'
 '745' '351' '306' '110' '695' '552' '346' '918' '882' '947' '520' '188'
 '31' '356' '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252'
 '608' '516' 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487'
 '709' '796' '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62'
 '528' '683' '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '193'
 '483' 'E936' '717' '802' '335' 'V54' '320' '945' '906' '239' '454' '826'
 '823' 'E941' '226' '795' '684' '844' '250.33' '308' '615' '588' '712'
 '663' '706' '833' '741' '713' '533' 'E884' '586' '555' '755' 'E928' '742'
 '869' '962' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '307' '325' '463' '992' '692'
 '521' '917' 'E965' '524' '916' 'E813' '173' '238' '137' '514' '312' '837'
 '355' '980' '622' '475' '500' '754' '261' '801' '868' '968' '381' '11'
 '250.21' '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634'
 '75' 'E927' 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989'
 'E854' '240' '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918'
 '619' '477' '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269'
 '664' 'E887' '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '865'
 '793' '232' '990' '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919'
 '944' 'E916' '963' '316' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' 'E819' '654' '994' '318' 'E826' '879' '674'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703' '991' '893' 'E821' '235' 'V69' '670' '195' 'V55' '388'
 '268' '894' '114' '260' '853' '7' '880' 'V86' '180' 'E945' '523' '863'
 '649' '270' '665' '460' '942' '364' '66' 'E883' '123' '884' 'V60' '843'
 '927']

Column: diag_3 has values: [nan '255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '250.6' '427'
 '627' '414' '416' '714' '428' '582' 'V43' '250.01' '263' '250.42' '276'
 '482' '401' '250.41' '585' '781' '278' '998' '568' '682' '618' '250.02'
 '305' '707' '496' '599' '715' '424' '518' '553' '794' '411' 'V42' '531'
 '511' '490' '562' '250.8' '250.7' '250.52' '784' '491' '581' '420' '8'
 '724' '730' '789' '131' '250.82' '999' '41' '493' '250.03' '753' '786'
 '529' 'E888' '425' '595' '303' '560' '711' '492' '332' '296' '438' '362'
 '250.4' '654' '244' 'V70' '737' '625' '681' '250.51' '404' 'V10' '810'
 '280' '440' '785' '588' '569' '272' '997' '250.43' '918' '584' '54' '788'
 '426' '722' '250.92' '196' '461' '535' '787' '891' '284' '458' '648'
 '780' '182' '285' '593' '413' '664' '564' '201' '356' 'V15' '292' '782'
 '473' '455' 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733'
 '507' '525' '250.53' '397' '572' '805' '453' '331' '736' '402' '591'
 '576' '465' '533' '703' '349' '315' '658' '608' '578' '716' '382' '300'
 '282' '571' '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218'
 '412' '396' 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836'
 '295' '799' '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512'
 '660' '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790'
 '112' '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342'
 '250.91' 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293'
 '573' '532' '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135'
 '642' '698' '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580'
 '446' '444' '344' '252' '35' '813' '394' '301' '575' '258' 'V17' '802'
 '435' '746' 'V12' '709' '881' 'E935' '139' '250.81' '718' '365' '202'
 '334' '185' '398' 'V44' '517' 'E849' '614' '466' '626' '250.9' '368'
 '605' '883' '289' '478' '617' '429' '442' 'V25' '866' '610' '557' '959'
 'E942' '94' '920' '345' '313' '379' '79' '516' '586' '821' '600' '242'
 '373' '592' 'V64' '487' '253' '706' 'E947' '117' '340' 'E950' '656'
 'E949' '590' 'V09' '250.22' '934' '694' '203' '250.93' '995' '726' '923'
 '958' '275' 'E929' '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791'
 '890' '456' 'E938' 'E816' '122' '721' 'V65' '136' '480' '423' 'E920'
 '793' '647' '537' '351' '845' '336' '274' '719' '945' '434' '494' '227'
 '157' '208' '174' 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16'
 '756' '405' 'E928' '823' '552' '528' '389' '240' '454' '792' '366' 'E939'
 '907' '270' '310' '266' '387' 'E931' '783' '245' '607' '355' 'E930' '705'
 '372' '369' '611' '283' 'V46' '110' '867' 'E956' '251' '250.2' '820'
 '712' '695' '567' '343' '723' 'V08' '273' '623' '807' '451' '495' '701'
 '34' 'V53' '314' '472' 'E945' '11' '189' '534' '354' '333' 'V54' '277'
 '659' '708' '452' '655' '816' '670' '621' '246' '953' '865' 'E817' '646'
 '151' '378' '78' '298' '840' '641' '521' '745' '619' '912' '506' 'E904'
 '259' 'E870' 'E980' '383' '204' '696' '566' '727' '47' 'E943' '358' '191'
 '965' '921' '432' '27' 'E861' '758' '477' '524' '751' '652' '556' '188'
 '825' '919' '732' '908' '951' '962' '685' 'E850' 'E944' '527' '341' '693'
 '250.1' 'V49' '860' '323' 'V55' '579' '508' '969' '205' '462' 'E880'
 '680' '697' '826' '200' '457' '717' '738' '742' '735' '235' '308' '725'
 '241' '824' '464' '260' '917' '239' '661' '892' '261' 'E883' '943' '744'
 'E936' '796' '318' '967' '350' '854' 'E905' '9' '741' 'E941' '170' '643'
 '317' '759' '909' 'V22' '831' '713' '180' '801' '360' '359' '501' '335'
 '250.11' '306' '811' '690' 'V02' '271' '214' '847' '543' 'V63' '906'
 '842' '686' '445' '808' '861' 'E852' '220' 'E887' 'E858' '915' '970'
 '256' '747' '395' '243' '815' '481' '5' 'E927' '297' '299' '851' '864'
 '922' '384' 'E876' '225' '158' 'E937' '871' '88' '966' 'E917' 'E812'
 'V62' 'E924' '604' '233' 'E916' '377' '797' 'V72' '172' '7' '421' '852'
 'E819' '972' '916' '956' '3' 'E965' '173' '193' '154' '347' '862' '250.3'
 '987' '470' '262' 'E855' '161' '115' '179' '910' '312' '17' '460' '265'
 '66' '163' 'V60' '870' 'E906' '514' '944' '844' '417' '152' '183' '991'
 '216' '385' '164' '935' '510' '814' '485' '850' '250.21' 'E919' '872'
 '195' '431' '597' '933' '171' '884' '156' '868' '483' 'E815' '542' 'V61'
 '853' '374' 'E881' 'E882' 'E822' '192' '754' '327' '523' '500' 'V85'
 '992' '657' '684' '603' 'E826' '550' '913' '376' '755' '361' '186' '720'
 '250.31' '674' '911' 'E813' '226' '365.44' 'E818' '146' '955' 'E894'
 '475' 'V13' '880' '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853'
 '863' '540' 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848'
 'V86' 'V03' '338' '989' '388' 'E966' '111' 'E922' '123' '757' 'E901'
 '141' '268' 'E892' '649' '702' '948' '223' '484' 'E886' '838' '928' '236'
 '624' '837' 'E987' 'V07' '841' '622' 'E912' 'E955' '463' 'V06' 'E864'
 '217' '877' '391' 'E825' '952' '669' '875' 'E900' '215' '538' '980' '834'
 '448' '175' '49' '876' '230' '57' 'E854' '942' '14' '750' '370' '671'
 '971']

Column: number_diagnoses has values: [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]

Column: max_glu_serum has values: ['None' '>300' 'Norm' '>200']

Column: A1Cresult has values: ['None' '>7' '>8' 'Norm']

Column: metformin has values: ['No' 'Steady' 'Up' 'Down']

Column: repaglinide has values: ['No' 'Up' 'Steady' 'Down']

Column: nateglinide has values: ['No' 'Steady' 'Down' 'Up']

Column: chlorpropamide has values: ['No' 'Steady' 'Down' 'Up']

Column: glimepiride has values: ['No' 'Steady' 'Down' 'Up']

Column: acetohexamide has values: ['No' 'Steady']

Column: glipizide has values: ['No' 'Steady' 'Up' 'Down']

Column: glyburide has values: ['No' 'Steady' 'Up' 'Down']

Column: tolbutamide has values: ['No' 'Steady']

Column: pioglitazone has values: ['No' 'Steady' 'Up' 'Down']

Column: rosiglitazone has values: ['No' 'Steady' 'Up' 'Down']

Column: acarbose has values: ['No' 'Steady' 'Up' 'Down']

Column: miglitol has values: ['No' 'Steady' 'Down' 'Up']

Column: troglitazone has values: ['No' 'Steady']

Column: tolazamide has values: ['No' 'Steady' 'Up']

Column: examide has values: ['No']

Column: citoglipton has values: ['No']

Column: insulin has values: ['No' 'Up' 'Steady' 'Down']

Column: glyburide-metformin has values: ['No' 'Steady' 'Down' 'Up']

Column: glipizide-metformin has values: ['No' 'Steady']

Column: glimepiride-pioglitazone has values: ['No' 'Steady']

Column: metformin-rosiglitazone has values: ['No' 'Steady']

Column: metformin-pioglitazone has values: ['No' 'Steady']

Column: change has values: ['No' 'Ch']

Column: diabetesMed has values: ['No' 'Yes']

Column: readmitted has values: ['NO' '>30' '<30']

## EXPLORE REAL DATA VISUALLY

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# visualizing data distribution
for col in diabetes.columns:
    fig, ax = plt.subplots(figsize = (10,5))
    sns.countplot(data=diabetes, x=col, ax = ax)
    ax.set_title(col)
    plt.tight_layout()
    plt.show()

## CREATE SYNTHETIZER & SYNTHETIC DATA WITH SDV

In [22]:
# Transform `diabetes` dataframe `SingleTableMetadata` data type 
from sdv.metadata import SingleTableMetadata

metadata = SingleTableMetadata()

# Automatically detect metadata from the actual DataFrame
metadata.detect_from_dataframe(diabetes)

# Change dtype of "_id" columns. Threat as categorical instead of numerical
for column_name in metadata.columns:
    if '_id' in column_name:
        metadata.update_column(column_name, sdtype='categorical')

# Check if metadata has been correctly generated
print(metadata)

{
    "columns": {
        "race": {
            "sdtype": "categorical"
        },
        "gender": {
            "sdtype": "categorical"
        },
        "age": {
            "sdtype": "categorical"
        },
        "weight": {
            "sdtype": "categorical"
        },
        "admission_type_id": {
            "sdtype": "categorical"
        },
        "discharge_disposition_id": {
            "sdtype": "categorical"
        },
        "admission_source_id": {
            "sdtype": "categorical"
        },
        "time_in_hospital": {
            "sdtype": "numerical"
        },
        "payer_code": {
            "sdtype": "categorical"
        },
        "medical_specialty": {
            "sdtype": "categorical"
        },
        "num_lab_procedures": {
            "sdtype": "numerical"
        },
        "num_procedures": {
            "sdtype": "numerical"
        },
        "num_medications": {
            "sdtype": "numerical"
        },
        "number_outpatient": {
            "sdtype": "numerical"
        },
        "number_emergency": {
            "sdtype": "numerical"
        },
        "number_inpatient": {
            "sdtype": "numerical"
        },
        "diag_1": {
            "sdtype": "categorical"
        },
        "diag_2": {
            "sdtype": "categorical"
        },
        "diag_3": {
            "sdtype": "categorical"
        },
        "number_diagnoses": {
            "sdtype": "numerical"
        },
        "max_glu_serum": {
            "sdtype": "categorical"
        },
        "A1Cresult": {
            "sdtype": "categorical"
        },
        "metformin": {
            "sdtype": "categorical"
        },
        "repaglinide": {
            "sdtype": "categorical"
        },
        "nateglinide": {
            "sdtype": "categorical"
        },
        "chlorpropamide": {
            "sdtype": "categorical"
        },
        "glimepiride": {
            "sdtype": "categorical"
        },
        "acetohexamide": {
            "sdtype": "categorical"
        },
        "glipizide": {
            "sdtype": "categorical"
        },
        "glyburide": {
            "sdtype": "categorical"
        },
        "tolbutamide": {
            "sdtype": "categorical"
        },
        "pioglitazone": {
            "sdtype": "categorical"
        },
        "rosiglitazone": {
            "sdtype": "categorical"
        },
        "acarbose": {
            "sdtype": "categorical"
        },
        "miglitol": {
            "sdtype": "categorical"
        },
        "troglitazone": {
            "sdtype": "categorical"
        },
        "tolazamide": {
            "sdtype": "categorical"
        },
        "examide": {
            "sdtype": "categorical"
        },
        "citoglipton": {
            "sdtype": "categorical"
        },
        "insulin": {
            "sdtype": "categorical"
        },
        "glyburide-metformin": {
            "sdtype": "categorical"
        },
        "glipizide-metformin": {
            "sdtype": "categorical"
        },
        "glimepiride-pioglitazone": {
            "sdtype": "categorical"
        },
        "metformin-rosiglitazone": {
            "sdtype": "categorical"
        },
        "metformin-pioglitazone": {
            "sdtype": "categorical"
        },
        "change": {
            "sdtype": "categorical"
        },
        "diabetesMed": {
            "sdtype": "categorical"
        },
        "readmitted": {
            "sdtype": "categorical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}

In [10]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(
    metadata,
    enforce_min_max_values=True,
    enforce_rounding=True)

In [11]:
# train data to learn from real data
synthesizer.fit(
    data = diabetes
)

In [12]:
# create new data (same dimensions) based on learned model
synthetic_data = synthesizer.sample(
    num_rows=diabetes.shape[0]
)

## EXPLORE SYNTHETIC DATA AND VALIDATE

In [ ]:
# dimensions
print(f"Real dimension: {diabetes.shape}")
print(f"Synth dimension: {synthetic_data.shape}")

# data information
print(f"\n\nReal data information: {diabetes.info()}")
print(f"Synth data information: {synthetic_data.info()}\n")

In [20]:
# Compare values creation
for col in diabetes.columns:
    print(f"\n\nColumn: {col}")
    
    # Get value counts for both real and synthetic data
    real_counts = diabetes[col].value_counts()
    synth_counts = synthetic_data[col].value_counts()
    # Combine the counts to ensure all categories are represented in both datasets
    combined_counts = pd.DataFrame({'Real': real_counts, 'Synthetic': synth_counts}).fillna(0)
    
    # Print the combined counts for easy comparison
    print(combined_counts)

Column: race
                  Real  Synthetic
AfricanAmerican  19210      24122
Asian              641        627
Caucasian        76099      67272
Hispanic          2037        214
Other             1506       2084


Column: gender
                  Real  Synthetic
Female           54708      57908
Male             47055      39491
Unknown/Invalid      3       4367


Column: age
           Real  Synthetic
[0-10)      161        202
[10-20)     691        573
[20-30)    1657       1736
[30-40)    3775       4407
[40-50)    9685       9657
[50-60)   17256      16637
[60-70)   22483      23339
[70-80)   26068      24391
[80-90)   17197      16274
[90-100)   2793       4550


Column: weight
           Real  Synthetic
>200          3        0.0
[0-25)       48      131.0
[100-125)   625        7.0
[125-150)   145        0.0
[150-175)    35        0.0
[175-200)    11        0.0
[25-50)      97        0.0
[50-75)     897     1380.0
[75-100)   1336    14358.0


Column: admission_type_id
    Real  Synthetic
1  53990      36632
2  18480      29918
3  18869      14585
4     10       5414
5   4785       1647
6   5291      12968
7     21        142
8    320        460


Column: discharge_disposition_id
     Real  Synthetic
1   60234    23615.0
2    2128     9894.0
3   13954    19799.0
4     815     1006.0
5    1184     6464.0
6   12902    14182.0
7     623     2605.0
8     108      225.0
9      21       10.0
10      6     1625.0
11   1642     4148.0
12      3       66.0
13    399      131.0
14    372      611.0
15     63        2.0
16     11       36.0
17     14       23.0
18   3691      412.0
19      8        1.0
20      2        2.0
22   1993       16.0
23    412       18.0
24     48        0.0
25    989    16874.0
27      5        0.0
28    139        1.0


Column: admission_source_id
     Real  Synthetic
1   29565      38029
2    1104      16256
3     187        824
4    3187       8946
5     855       5086
6    2264       2788
7   57494      27393
8      16        216
9     125        115
10      8         39
11      2         16
13      1          4
14      2         61
17   6781        446
20    161       1519
22     12         24
25      2          4


Column: time_in_hospital
     Real  Synthetic
1   14208        0.0
2   17224    59513.0
3   17756    15210.0
4   13924     7623.0
5    9966     5019.0
6    7539     3625.0
7    5859     2693.0
8    4391     2042.0
9    3002     1626.0
10   2342     1260.0
11   1855      958.0
12   1448      790.0
13   1210      548.0
14   1042      859.0


Column: payer_code
     Real  Synthetic
BC   4655       4230
CH    146        412
CM   1937        654
CP   2533       1943
DM    549        883
FR      1        127
HM   6274       9211
MC  32439      21648
MD   3532      13804
MP     79         73
OG   1033        105
OT     95        150
PO    592        315
SI     55       1351
SP   5007       2838
UN   2448       6241
WC    135        198


Column: medical_specialty
                                  Real  Synthetic
AllergyandImmunology                 7       19.0
Anesthesiology                      12       16.0
Anesthesiology-Pediatric            19      220.0
Cardiology                        5352     7342.0
Cardiology-Pediatric                 7        1.0
...                                ...        ...
Surgery-PlasticwithinHeadandNeck     1       52.0
Surgery-Thoracic                   109       44.0
Surgery-Vascular                   533        2.0
SurgicalSpecialty                   33        3.0
Urology                            685      350.0

[72 rows x 2 columns]


Column: num_lab_procedures
       Real  Synthetic
1    3208.0     1756.0
2    1101.0      210.0
3     668.0      231.0
4     378.0      303.0
5     286.0      335.0
..      ...        ...
123     0.0        1.0
125     0.0        1.0
126     1.0        0.0
129     1.0        0.0
132     1.0        0.0

[125 rows x 2 columns]


Column: num_procedures
    Real  Synthetic
0  46652      21083
1  20742      17583
2  12717      13305
3   9443      12083
4   4180      12065
5   3078      13977
6   4954      11670


Column: num_medications
      Real  Synthetic
1    262.0      146.0
2    470.0      398.0
3    900.0      872.0
4   1417.0     1486.0
5   2017.0     2332.0
..     ...        ...
73     0.0        1.0
74     1.0        1.0
75     2.0        0.0
79     1.0        0.0
81     1.0        0.0

[76 rows x 2 columns]


Column: number_outpatient
     Real  Synthetic
0   85027        0.0
1    8547    66580.0
2    3594    20115.0
3    2042     7685.0
4    1099     3578.0
5     533     1864.0
6     303      900.0
7     155      485.0
8      98      264.0
9      83      136.0
10     57       67.0
11     42       45.0
12     30       23.0
13     31       11.0
14     28        7.0
15     20        4.0
16     15        1.0
17      8        1.0
18      5        0.0
19      3        0.0
20      7        0.0
21      7        0.0
22      5        0.0
23      2        0.0
24      3        0.0
25      2        0.0
26      2        0.0
27      3        0.0
28      1        0.0
29      2        0.0
33      2        0.0
34      1        0.0
35      2        0.0
36      2        0.0
37      1        0.0
38      1        0.0
39      1        0.0
40      1        0.0
42      1        0.0


Column: number_emergency
     Real  Synthetic
0   90383    10574.0
1    7677    38760.0
2    2042    27209.0
3     725    14264.0
4     374     6559.0
5     192     2673.0
6      94     1104.0
7      73      394.0
8      50      148.0
9      33       58.0
10     34       18.0
11     23        5.0
12     10        0.0
13     12        0.0
14      3        0.0
15      3        0.0
16      5        0.0
18      5        0.0
19      4        0.0
20      4        0.0
21      2        0.0
22      6        0.0
24      1        0.0
25      2        0.0
28      1        0.0
29      1        0.0
37      1        0.0
42      1        0.0
46      1        0.0
54      1        0.0
63      1        0.0
64      1        0.0
76      1        0.0


Column: number_inpatient
     Real  Synthetic
0   67630   100939.0
1   19521      811.0
2    7566       16.0
3    3411        0.0
4    1622        0.0
5     812        0.0
6     480        0.0
7     268        0.0
8     151        0.0
9     111        0.0
10     61        0.0
11     49        0.0
12     34        0.0
13     20        0.0
14     10        0.0
15      9        0.0
16      6        0.0
17      1        0.0
18      1        0.0
19      2        0.0
21      1        0.0


Column: diag_1
     Real  Synthetic
10      1        0.0
11     10       36.0
110     2        0.0
112    73      158.0
114     1        0.0
..    ...        ...
V63     8        0.0
V66     2        8.0
V67     1        3.0
V70     1        1.0
V71     9        5.0

[716 rows x 2 columns]


Column: diag_2
     Real  Synthetic
11      3        2.0
110     8        8.0
111     1        7.0
112   201      208.0
114     1        0.0
..    ...        ...
V69     1        0.0
V70     7        1.0
V72    13       27.0
V85   169        0.0
V86     2        0.0

[748 rows x 2 columns]


Column: diag_3
     Real  Synthetic
11      2        9.0
110    20       11.0
111     1        0.0
112   206       94.0
115     1        3.0
..    ...        ...
V66    18       24.0
V70     2      335.0
V72     8        0.0
V85    96        1.0
V86     3        0.0

[789 rows x 2 columns]


Column: number_diagnoses
     Real  Synthetic
1     219      171.0
2    1023      481.0
3    2835     1561.0
4    5537     3803.0
5   11393     8602.0
6   10161    14918.0
7   10393    20667.0
8   10616    22093.0
9   49474    16881.0
10     17     8827.0
11     11     3053.0
12      9      629.0
13     16       76.0
14      7        4.0
15     10        0.0
16     45        0.0


Column: max_glu_serum
       Real  Synthetic
>200   1485        245
>300   1264      16192
None  96420      83304
Norm   2597       2025


Column: A1Cresult
       Real  Synthetic
>7     3812      22490
>8     8216       6434
None  84748      70357
Norm   4990       2485


Column: metformin
         Real  Synthetic
No      81778      75964
Steady  18346      22105
Up       1067       3421
Down      575        276


Column: repaglinide
          Real  Synthetic
Down        45          3
No      100227      90450
Steady    1384        394
Up         110      10919


Column: nateglinide
          Real  Synthetic
Down        11      143.0
No      101063    91734.0
Steady     668     9889.0
Up          24        0.0


Column: chlorpropamide
          Real  Synthetic
Down         1      117.0
No      101680    92411.0
Steady      79     9238.0
Up           6        0.0


Column: glimepiride
         Real  Synthetic
Down      194        691
No      96575      87799
Steady   4670      13251
Up        327         25


Column: acetohexamide
          Real  Synthetic
No      101765      95922
Steady       1       5844


Column: glipizide
         Real  Synthetic
No      89080      80961
Steady  11356      18601
Up        770       2061
Down      560        143


Column: glyburide
         Real  Synthetic
No      91116      83097
Steady   9274      16728
Up        812       1788
Down      564        153


Column: tolbutamide
          Real  Synthetic
No      101743      93745
Steady      23       8021


Column: pioglitazone
         Real  Synthetic
No      94438      86053
Steady   6976      14765
Up        234        922
Down      118         26


Column: rosiglitazone
         Real  Synthetic
No      95401      86848
Steady   6100      14113
Up        178        787
Down       87         18


Column: acarbose
          Real  Synthetic
Down         3        0.0
No      101458    92839.0
Steady     295     8829.0
Up          10       98.0


Column: miglitol
          Real  Synthetic
Down         5      111.0
No      101728    92370.0
Steady      31     9285.0
Up           2        0.0


Column: troglitazone
          Real  Synthetic
No      101763      94081
Steady       3       7685


Column: tolazamide
          Real  Synthetic
No      101727      95081
Steady      38       6684
Up           1          1


Column: examide
      Real  Synthetic
No  101766     101766


Column: citoglipton
      Real  Synthetic
No  101766     101766


Column: insulin
         Real  Synthetic
Down    12218      15258
No      47383      38299
Steady  30849      21473
Up      11316      26736


Column: glyburide-metformin
          Real  Synthetic
Down         6        145
No      101060      91765
Steady     692       9855
Up           8          1


Column: glipizide-metformin
          Real  Synthetic
No      101753      93941
Steady      13       7825


Column: glimepiride-pioglitazone
          Real  Synthetic
No      101765      96508
Steady       1       5258


Column: metformin-rosiglitazone
          Real  Synthetic
No      101764      93915
Steady       2       7851


Column: metformin-pioglitazone
          Real  Synthetic
No      101765      95110
Steady       1       6656


Column: change
     Real  Synthetic
No  54755      53069
Ch  47011      48697


Column: diabetesMed
      Real  Synthetic
Yes  78363      68600
No   23403      33166


Column: readmitted
      Real  Synthetic
NO   54864      52450
>30  35545      34858
<30  11357      14458

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# CORRELATION MATRIX
fig, ax = plt.subplots(1,2,figsize = (15,5))
corr_r = diabetes.corr()
corr_s = synthetic_data.corr()
sns.heatmap(corr_r, 
            xticklabels=corr_r.columns.values,
            yticklabels=corr_r.columns.values,
            cmap="Blues",
            annot=True,         # Display the correlation values in the cells
            fmt=".2f", ax = ax[0])
sns.heatmap(corr_s, 
            xticklabels=corr_s.columns.values,
            yticklabels=corr_s.columns.values,
            cmap="Greens",
            annot=True,         # Display the correlation values in the cells
            fmt=".2f", ax = ax[1])
ax[0].set_title("REAL")
ax[1].set_title("SYNTH")
plt.tight_layout()     
plt.show()

In [ ]:
# check sensitive data
sensitive_column_names = ['race', 'gender', 'age','payer_code', 'medical_specialty']

# understanding columns values
for col in sensitive_column_names:
    print(f"\n\nReal column: {col} has values: {diabetes[col].unique()}")
    print(f"Synth column: {col} has values: {synthetic_data[col].unique()}")

## SAVE SYNTHETIZER & SYNTHETIC DATA

In [14]:
import os

# create save folder
synth_folder = os.path.join("./","synthetic_data")
os.makedirs(synth_folder, exist_ok = True) 

# save synth generator 
synthesizer.save(os.path.join(synth_folder, "sdv_synthesizer.pkl"))

In [15]:
# save synthetic data
synthetic_data.to_parquet(os.path.join(synth_folder,"sdv_synth.parquet"), engine='pyarrow')